<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.basic.yinjiangbuhan.mapper.EmployeeCertificatesMapper">

    <resultMap type="EmployeeCertificates" id="EmployeeCertificatesResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="idCard"    column="id_card"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="expiryDate"    column="expiry_date"    />
        <result property="certificateName"    column="certificate_name"    />
        <result property="workType"    column="work_type"    />
        <result property="operationItem"    column="operation_item"    />
        <result property="certificateNumber"    column="certificate_number"    />
        <result property="attachmentUrl"    column="attachment_url"    />
        <result property="photoBase64"    column="photo_base64"    />
        <result property="fileSuffix"    column="file_suffix"    />
        <result property="issuingAuthority"    column="issuing_authority"    />
        <result property="issuingDate"    column="issuing_date"    />
        <result property="reCheckOneDate"    column="re_check_one_date"    />
        <result property="reCheckTwoDate"    column="re_check_two_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEmployeeCertificatesVo">
        select id, user_name, id_card, effective_date, expiry_date, certificate_name, work_type, operation_item, certificate_number, attachment_url, photo_base64, file_suffix, issuing_authority, issuing_date, re_check_one_date, re_check_two_date, del_flag, create_by, create_time, update_by, update_time, remark from employee_certificates
    </sql>

    <select id="selectEmployeeCertificatesList" parameterType="EmployeeCertificates" resultMap="EmployeeCertificatesResult">
        <include refid="selectEmployeeCertificatesVo"/>
        <where>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="effectiveDate != null  and effectiveDate != ''"> and effective_date = #{effectiveDate}</if>
            <if test="expiryDate != null  and expiryDate != ''"> and expiry_date = #{expiryDate}</if>
            <if test="certificateName != null  and certificateName != ''"> and certificate_name like concat('%', #{certificateName}, '%')</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="operationItem != null  and operationItem != ''"> and operation_item = #{operationItem}</if>
            <if test="certificateNumber != null  and certificateNumber != ''"> and certificate_number = #{certificateNumber}</if>
            <if test="attachmentUrl != null  and attachmentUrl != ''"> and attachment_url = #{attachmentUrl}</if>
            <if test="photoBase64 != null  and photoBase64 != ''"> and photo_base64 = #{photoBase64}</if>
            <if test="fileSuffix != null  and fileSuffix != ''"> and file_suffix = #{fileSuffix}</if>
            <if test="issuingAuthority != null  and issuingAuthority != ''"> and issuing_authority = #{issuingAuthority}</if>
            <if test="issuingDate != null  and issuingDate != ''"> and issuing_date = #{issuingDate}</if>
            <if test="reCheckOneDate != null  and reCheckOneDate != ''"> and re_check_one_date = #{reCheckOneDate}</if>
            <if test="reCheckTwoDate != null  and reCheckTwoDate != ''"> and re_check_two_date = #{reCheckTwoDate}</if>
        </where>
    </select>

    <select id="selectEmployeeCertificatesById" parameterType="Long" resultMap="EmployeeCertificatesResult">
        <include refid="selectEmployeeCertificatesVo"/>
        where id = #{id}
    </select>

    <insert id="insertEmployeeCertificates" parameterType="EmployeeCertificates" useGeneratedKeys="true" keyProperty="id">
        insert into employee_certificates
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="effectiveDate != null">effective_date,</if>
            <if test="expiryDate != null">expiry_date,</if>
            <if test="certificateName != null">certificate_name,</if>
            <if test="workType != null">work_type,</if>
            <if test="operationItem != null">operation_item,</if>
            <if test="certificateNumber != null">certificate_number,</if>
            <if test="attachmentUrl != null">attachment_url,</if>
            <if test="photoBase64 != null">photo_base64,</if>
            <if test="fileSuffix != null">file_suffix,</if>
            <if test="issuingAuthority != null">issuing_authority,</if>
            <if test="issuingDate != null">issuing_date,</if>
            <if test="reCheckOneDate != null">re_check_one_date,</if>
            <if test="reCheckTwoDate != null">re_check_two_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="effectiveDate != null">#{effectiveDate},</if>
            <if test="expiryDate != null">#{expiryDate},</if>
            <if test="certificateName != null">#{certificateName},</if>
            <if test="workType != null">#{workType},</if>
            <if test="operationItem != null">#{operationItem},</if>
            <if test="certificateNumber != null">#{certificateNumber},</if>
            <if test="attachmentUrl != null">#{attachmentUrl},</if>
            <if test="photoBase64 != null">#{photoBase64},</if>
            <if test="fileSuffix != null">#{fileSuffix},</if>
            <if test="issuingAuthority != null">#{issuingAuthority},</if>
            <if test="issuingDate != null">#{issuingDate},</if>
            <if test="reCheckOneDate != null">#{reCheckOneDate},</if>
            <if test="reCheckTwoDate != null">#{reCheckTwoDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateEmployeeCertificates" parameterType="EmployeeCertificates">
        update employee_certificates
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="effectiveDate != null">effective_date = #{effectiveDate},</if>
            <if test="expiryDate != null">expiry_date = #{expiryDate},</if>
            <if test="certificateName != null">certificate_name = #{certificateName},</if>
            <if test="workType != null">work_type = #{workType},</if>
            <if test="operationItem != null">operation_item = #{operationItem},</if>
            <if test="certificateNumber != null">certificate_number = #{certificateNumber},</if>
            <if test="attachmentUrl != null">attachment_url = #{attachmentUrl},</if>
            <if test="photoBase64 != null">photo_base64 = #{photoBase64},</if>
            <if test="fileSuffix != null">file_suffix = #{fileSuffix},</if>
            <if test="issuingAuthority != null">issuing_authority = #{issuingAuthority},</if>
            <if test="issuingDate != null">issuing_date = #{issuingDate},</if>
            <if test="reCheckOneDate != null">re_check_one_date = #{reCheckOneDate},</if>
            <if test="reCheckTwoDate != null">re_check_two_date = #{reCheckTwoDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEmployeeCertificatesById" parameterType="Long">
        delete from employee_certificates where id = #{id}
    </delete>

    <delete id="deleteEmployeeCertificatesByIds" parameterType="String">
        delete from employee_certificates where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>